name: Inflation Automation

on:
  schedule:
    - cron: '30 1 * * *'   # Runs daily at 7:00 AM IST (1:30 UTC)
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        playwright install chromium

    - name: Run Scraper
      run: python scraper/scrape_prices.py

    - name: Train ML Model
      run: python ml/train_model.py

    - name: Save Predictions
      run: python ml/predict.py

    - name: Commit updated data
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add data/
        git commit -m "Daily data + ML update"
        git push
